*, *::after, *::before {
  box-sizing: border-box;  
}

html {
  font-size: 62.5%;
  color: #fff;
  font-family: 'lato', 'open-sans', sans-serif;
}

body {
  margin: 0;
  background-color: rgb(26, 26, 46);
}

main {
  min-height: 100vh;
  width: 100vw;
  display: grid;
  justify-content: center;
  justify-items: center;
  padding-top: 10vh;
}

h1 {
  font-size: max(4vw, 5em);
  margin: 0;
  text-align: center;
}

p {
  text-align: center;
  margin: 0;
  font-size: 2em;
}

a {
  color: #fff
}

#status {
  height: min(30em, 95vw);
  width: min(30em, 95vw);
  border-radius: 50%;
  background-color: rgb(28, 179, 28);
  display: flex;
  align-items: center;
  justify-content: center;
}

#status.error {
  background-color: rgb(179, 28, 28);
}

.underline {
  text-decoration: underline;
}

.icon {
  width: 70%;
  height: 70%;
  fill: #fff;
}

#check-mark {
  margin-top: 10%;
}